@import "../../../pages/styles/mixins.scss";

.container {
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--white);
}
.mobile_container{
  justify-content: center;
}

.info_container{
  max-width: 400px;
  .first_title {
    font-family: "Montserrat";
    font-size: 25px;
    display: block;
  }
  .second_title {
    font-size: 110px;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 0.9;
  }
}
.mobile_info_container{
  text-align: center;
}

.little_title {
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.buttons_container {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  .image{
    position: absolute;
    right: 0px;
  }
}
.buttons_mobile_container{
  justify-content: center;
}

@include media(md){
  .info_container{
    .first_title {
      font-size: 18px;
    }
    .second_title {
      font-size: 72px;
    }
  }

}

