.container {
  background: rgba(0, 0, 0, 0.8);
  min-width: 255px;
  max-width: 255px;
  border-radius: 5px;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.button_container {
  justify-content: flex-end;
  display: flex;
}
.play_button_container {
  justify-content: flex-start;
  display: flex;
  padding-left: 12px;
}

.image {
  padding: 5px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}
.play_image {
  margin-right: unset;
}
.middle_image {
  width: 50px;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 13px;
  line-height: 18px;
  color: white;
  margin-top: 10px;
  .title {
    font-size: 16px;
    font-weight: 700;
    display: block;
  }
  .description {
    font-size: 12px;
    display: block;
  }
  .movie_type{
    display: block;
      width: 100%;
      font-size: 12px;
  }
  .movie_year{
    padding: 1px 9px;
    text-align: center;
    border-radius: 40px;
    background: rgba(58, 58, 58, 0.9);
  }
  &__image{
    padding-right: 5px;
  }
  &__arrow_image{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
