// Change this on main color change
$main_color: #c5c7c9;
.drop_zone {
  background-color: transparent;
  border: 2px dashed $main_color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 40px;
  &:hover {
    background-color: lighten($color: $main_color, $amount: 15);
  }
  .input_title {
    margin: 20px 10px 5px 10px;
    font-weight: 700;
  }
  .input_description {
    margin: 5px;
    font-weight: 300;
  }
  .file_input {
    // Do not change this property
    display: none;
  }
  .text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat";
    color: #9b9b9b;
    .clip_image{
      width: 20px;
    }
    .bold_text{
      font-weight: 700;
      color: #0076ff;
    }
  }
}
