@import "./styles/mixins.scss";

.container {
  justify-content: flex-start;
  display: flex;
  height: 100%;
}
.top_container {
  background-image: url("/images/top_image5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-right: 10%;
  padding-left: 10%;
}
.comming_soon_container {
  margin: -110px auto;
  padding-right: 1%;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.comming_soon_mobile,
.popular_movies_container {
  background-color: var(--black);
  padding-left: 10%;
  padding-right: 10%;
}
.comming_soon_mobile {
  margin: -1px auto;
  display: flex;
  flex-direction: column;
}

.popular_movies_container {
  padding-top: 150px;
}
.popular_movies_mobile {
  padding-top: 20px;
}
