@import "../../../pages/styles/mixins.scss";

.header_container {
  position: absolute;
  top: 10px;
  z-index: 1;
  color: white;
  overflow: hidden;
  padding: unset;
  margin-left: 9.8%;
  width: 80.5%;
  padding-left: 10px;
  min-height: 50px;
}
.secondary_nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0px;
  top: 8%;
  cursor: pointer;
}
.ul_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14px;
}

.container_li {
  float: left;
  cursor: pointer;
}

.item {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.profile_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_movie_img {
  position: absolute;
  left: 5px;
  left: 12px;
}

.add_movie_txt {
  position: absolute;
  left: 40px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.new_notification_alert {
  background-color: red;
  width: 5px;
  border-radius: 100%;
  height: 5px;
  position: absolute;
  top: 17px;
  right: 70px;
}

@include media(xlg) {
  .ul_container {
    font-size: 13px;
    .new_list {
      height: 37px;
      width: 37px;
    }
    .new_list:hover {
      width: 165px;
    }
    .add_movie_img {
      left: 9px;
      width: 17px;
    }
    .logo {
      width: 77px;
    }
  }
}

@include media(lg) {
  .ul_container {
    font-size: 11.5px;
    .new_list {
      height: 35px;
      width: 35px;
    }
    .new_list:hover {
      width: 160px;
    }
    .add_movie_img {
      left: 9px;
      width: 15px;
    }
    .logo {
      width: 75px;
    }
  }

  .secondary_nav {
    .text_children_container {
      font-size: 14px;
    }
  }
}

@media (max-width: 1065px) {
  .ul_container {
    li:first-child {
      padding-top: 20%;
    }
    li:nth-last-child(-n + 6) {
      display: none;
    }
  }
}
